<app-title titulo="defer-views / Blocs!"/>

<section class="grip grid-cols-1">


    @defer () {
        <app-heavy-loaders-slow cssClass="bg-blue-500"  />
    }@placeholder {
      <p class="h-[300px] w-full bg-gradient-to-r from bg-gray-500 to-gray-900 animate-pulse">
        Cargando...
      </p>
    }
    @defer (on viewport) {
        <app-heavy-loaders-slow cssClass="bg-green-500"  />
    }@placeholder {
      <p class="h-[300px] w-full bg-gradient-to-r from bg-gray-500 to-gray-900 animate-pulse">
        Cargando...
      </p>
    }
    @defer (on viewport) {
        <app-heavy-loaders-slow cssClass="bg-purple-500"  />
    }@placeholder {
      <p class="h-[400px] w-full bg-gradient-to-r from bg-gray-500 to-gray-900 animate-pulse">
        Cargando...
      </p>
    }



</section>